<div class="page-header">
  <h1 ng-if="found &amp;&amp; !loading">#{{device.pri}} {{name}} ({{device.device}})</h1>
  <h1 ng-if="loading || !found">{{name}}</h1>
</div>
<div ng-if="found &amp;&amp; !loading" class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
  <h3 class="panel-title">Status</h3>
</div>
      <div class="panel-body">
    <div style="border-bottom:0;" class="row bs-wizard">
      <div class="col-xs-3 bs-wizard-step {{getStatus(1)}}">
        <div class="text-center bs wizard-stepnum">Vote</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div><a class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">There is no debug device bought yet. Development cannot be done without a debug device.</div>
      </div>
      <div class="col-xs-3 bs-wizard-step {{getStatus(2)}}">
        <div class="text-center bs wizard-stepnum">Waiting</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div><a class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">The device is bought and is currently waiting for shipping or waiting for a available developer.</div>
      </div>
      <div class="col-xs-3 bs-wizard-step {{getStatus(3)}}">
        <div class="text-center bs wizard-stepnum">Development</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div><a class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">The device is currently under development.</div>
      </div>
      <div class="col-xs-3 bs-wizard-step {{getStatus(4)}}">
        <div class="text-center bs wizard-stepnum">Release</div>
        <div class="progress">
          <div class="progress-bar"></div>
        </div><a class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">The device is a port with all the important parts working, such as wifi, call, sms, data, camera, OTA, and sound.</div>
      </div>
    </div>
  </div>
</div>

    <div class="panel panel-default">
      <div class="panel-heading">
  <h3 class="panel-title">Donations</h3>
</div>
      <div class="panel-body">
    <h4>Donations received: {{device.donates | currency}} (not realtime) (current only paypal)</h4>
    <div style="margin: 0px;" ng-if="device.status === 1">
      <h4>Goal:</h4>
      <p>Donation to debug device: (note, this is not realtime) (current only paypal)
        <div style="margin: 0px;" class="progress">
          <div role="progressbar" aria-valuenow="{{device.donates}}" aria-valuemin="0" aria-valuemax="{{device.price}}" style="width: {{device.donates/device.price*100}}%; color: black; margin: 0px;" class="progress-bar">{{device.donates/device.price*100}}%</div>
        </div>
      </p>
      <p class="pull-right">{{device.donates/device.price*100}}%  towards the goal of ${{device.price}}</p><br/>
    </div><br/>
    <div style="display: inline;">
      <div class="pull-right btn-group">
        <button type="button" ng-click="setPaymethod('paypal');" class="btn {{paymethod('paypal', 'btn')}}"><span class="fa fa-paypal"></span></button>
        <button type="button" ng-click="setPaymethod('bitcoin');" class="btn {{paymethod('bitcoin', 'btn')}}"><span class="fa fa-bitcoin"></span></button>
        <button type="button" ng-click="setPaymethod('mobile');" ng-if="device.status === 1" class="btn {{paymethod('mobile', 'btn')}}"><span class="fa fa-mobile"></span></button>
      </div>
    </div>
    <h4>{{pay}}</h4>
    <hr/>
    <div ng-if="paymethod('paypals', 'bool')">
      <button ng-click="$parent.payAmout = 5" class="btn btn-primary btn-pay">{{5 | currency}}</button>
      <button ng-click="$parent.payAmout = 10" class="btn btn-primary btn-pay">{{10 | currency}}</button>
      <button ng-click="$parent.payAmout = 20" class="btn btn-primary btn-pay">{{20 | currency}}</button>
      <button ng-click="$parent.payAmout = 50" class="btn btn-primary btn-pay">{{50 | currency}}</button>
      <button ng-click="$parent.payAmout = 0" class="btn btn-primary btn-pay">Other</button>
    </div>
    <div ng-if="paymethod('bitcoins', 'bool')">
      <button ng-click="$parent.payAmout = 0.1" class="btn btn-primary btn-pay">0.1 BTC</button>
      <button ng-click="$parent.payAmout = 0.5" class="btn btn-primary btn-pay">0.5 BTC</button>
      <button ng-click="$parent.payAmout = 1" class="btn btn-primary btn-pay">1 BTC</button>
      <button ng-click="$parent.payAmout = 2" class="btn btn-primary btn-pay">2 BTC</button>
      <button ng-click="$parent.payAmout = 0" class="btn btn-primary btn-pay">Other</button>
    </div>
    <form ng-if="paymethod('paypal', 'bool')" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="form-inline"><br/>
      <div class="form-group">
        <label style="margin-right: 5px;">Your Donation: </label>
      </div>
      <div style="margin-right: 5px;" class="input-group">
        <div class="input-group-addon"><span class="fa {{paymethod('', 'fa')}}"></span></div>
        <input type="number" placeholder="Amount" ng-model="payAmout" class="form-control"/>
      </div>
      <input type="hidden" name="cmd" value="_donations"/>
      <input type="hidden" name="business" value="paypal@ubports.com"/>
      <input type="hidden" name="lc" value="BT"/>
      <input type="hidden" name="item_name" value="UBports | {{device.device}}"/>
      <input type="hidden" name="amount" value="{{payAmout | number}}"/>
      <input type="hidden" name="currency_code" value="USD"/>
      <input type="hidden" name="no_note" value="0"/>
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest"/>
      <button border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" class="btn btn-primary">Donate</button>
    </form>
    <div style="text-align: center;" ng-if="paymethod('bitcoin', 'bool')">
      <p>Bitcoin Address: </p>
      <pre>1DpvghKwhrwZyyCyWMQ2tnLaV3yEznFndB</pre>
    </div>
    <div style="text-align: left;" ng-if="paymethod('mobile', 'bool')">
      <p>If you want to donate an device, please send an email to me@mariogrip.com with the subject "Donate device {{device.name}}" and a general description of the condition of the device.</p>
    </div><hr/>
    <div class="jumbotron">
<h2>Monthly supporter</h2>
<p>If you enjoyed the ride so far, please consider becoming a monthly supporter at <a href="http://www.patreon.com/ubports">Patreon</a>
and help found a full time worker on Ubports which will help Ubports grow and make development much faster!</p>
<a href="http://www.patreon.com/ubports" class="btn btn-primary btn-lg">Become a Patron</a>
</div>
  </div>
</div>
</div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-if="device.whatIsWorking != '{}'">
      <div class="panel-heading">What's working</div>
      <ul class="list-group">
        <div ng-repeat="(key, value) in toObj(device.whatIsWorking)">
          <li ng-if="value == 2" class="list-group-item list-group-item-success">{{key}}</li>
          <li ng-if="value != 2" class="list-group-item list-group-item-danger">{{key}}</li>
        </div>
      </ul>
    </div>
  </div>
</div>
<div ng-if="found &amp;&amp; !loading" class="row">
  <div class="col-md-8">
    <div ng-if="device.status !== 1">
      <h2>How to install</h2><br />
      <div class="panel panel-default">
  <div class="panel-heading">Install using system-image server</div>
  <div class="panel-body">
    <p>
      1. Install the required tools:
    </p>
    <pre>sudo apt-get install ubuntu-device-flash phablet-tools</pre>
    <p>
      2. Reboot your device into fastboot mode (vol up + power) and Connect your device with an USB cable to your computer.
    </p>
    <p>
      3. Flash your device using this command: (<b>NOTE! This will wipe your phone!</b>)
    </p>
    <pre>sudo ubuntu-device-flash --server=http://system-image.ubports.com touch --channel=ubuntu-touch/stable --device={{device.device}} --bootstrap</pre>
  </div>
</div>
<div ng-if="device.multirom" class="panel panel-default">
  <div class="panel-heading">Install using Multirom</div>
  <div class="panel-body">
    See the wiki: <a href="{{device.wiki}}">{{device.wiki}}</a>
  </div>
</div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default" ng-if="device.about !== '{}'">
      <div class="panel-heading">About Device</div>
      <table class="table">
        <tr ng-repeat="(key, value) in toObj(device.about)">
          <td>{{key}}</td>
          <td>{{value}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div ng-if="!found &amp;&amp; !loading" class="row">
  <h2>Device {{name}} not found!</h2>
</div>
<div ng-if="loading" align="center" style="text-align: center;" class="row"><span class="fa fa-refresh fa-spin fa-4x"></span></div>
