extends layout

block content
    div.page-header
        h1= title
    div.panel.panel-default
        div.panel-heading Packaged Devices
        div.panel-body
            p Packaged devices are devices that is fully working as daily drivers, it requiers to have wifi, call, sms, data, camera and sound working to be an "Packaged device".
        table.table
            tr 
                th Priority
                th Name
                th Device
                th Donations
            tr
                th None yet!
                th 
                th
                th
    br
    div.panel.panel-default
        div.panel-heading Fermenting Devices
        div.panel-body Fermenting devices are devices that are not yet ready as daily use due to missing important function(s).
        table.table
            tr 
                th Priority
                th Name
                th Device
                th Donations
            tr(ng-repeat="item in activeDevices")
                th {{item.pri}}
                th {{item.name}}
                th {{item.device}}
                th {{item.donates | currency}}

    br
    div.panel.panel-default
        div.panel-heading Milling Devices
        div.panel-body Milling devices are devices that are not yet started deveopment on, but users can vote and donate on the device they want to get ported.
        table.table
            tr 
                th Priority
                th Name
                th Device
                th Donations            
            tr(ng-repeat="item in voteDevices")
                th {{item.pri}}
                th {{item.name}}
                th {{item.device}}
                th 
                    div.progress
                        div.progress-bar(role="progressbar" aria-valuenow="{{item.donates}}" aria-valuemin="0" aria-valuemax="{{item.price}}" style="width: {{item.donates/item.price*100}}%; color: black;") {{item.donates/item.price*100}}%