<div class="modal-header">
    <h3 class="modal-title">Monthly supporter (Patreon)</h3>
</div>
<div class="modal-body">
  <p style="font-size: 18px; font-weight: 200;">If you enjoyed the ride so far, please consider becomeing a monthly supporter at <a href="http://www.patreon.com/ubports">Patreon</a>
  and help found a full time worker on Ubports which will help Ubports grow and make development much faster!</p>
  </div>
<div class="modal-footer">
    <a href="http://www.patreon.com/ubports" class="btn btn-primary">Become a Patron</a>
    <button class="btn btn-primary" type="button" ng-click="later()">Ask me later</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">No thanks</button>
</div>
