div.page-header
    h1= title
div.panel.panel-default
    div.panel-heading Active Devices
    a#Active_Devices
    div.panel-body
        p Active devices are devices that are fully working as daily drivers, it requires to have wifi, call, sms, data, camera, OTA, and sound to be working to be an "Active device".
    table.table
        tr
            th Priority
            th Name
            th Device
            th Donations
            th(style="width: 3%;")
        tr(ng-if="loading" align="center")
            th(colspan="5" style="text-align: center;")
                span.fa.fa-refresh.fa-spin.fa-3x
        tr(ng-if="true && !loading" align="center")
            th(colspan="5" style="text-align: center;") Sorry, there is no "Active" devices yet!
br
div.panel.panel-default
    div.panel-heading Inprogress Devices
    a#Inprogress_Devices
    div.panel-body Inprogress devices are devices that are not yet ready to use daily, due to missing important functions. These devices are under heavy development.
    table.table.table-hover
        thead
            tr
                th Priority
                th Name
                th Device
                th Devopment done
                th(style="width: 3%;")
        tr(ng-if="loading" align="center")
            th(colspan="5" style="text-align: center;")
                span.fa.fa-refresh.fa-spin.fa-3x
        tr(ng-repeat="item in activeDevices" ng-click="go(item.device)")
            td {{item.pri}}
            td {{item.name}}
            td {{item.device}}
            td(style="width: 45%")
                div.progress
                    div.progress-bar(role="progressbar" aria-valuenow="{{item.done}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.done}}%; color: black;") {{item.done}}%
            td
                span.fa.fa-chevron-right.pull-right
br
div.panel.panel-default
    div.panel-heading Voting Devices
    a#Voting_Devices
    div.panel-body Voting device are devices that haven't started development, users can vote (donate) for devices they want to get ported. A device will need to be bought so we can develop on it. Priority will be ranked after donate to debug device percentage.
    table.table.table-hover
        thead
            tr
                th Priority
                th Name
                th Device
                th Donations to Debug device
                th(style="width: 3%;")
        tr(ng-if="loading" align="center")
            th(colspan="5" style="text-align: center;")
                span.fa.fa-refresh.fa-spin.fa-3x
        tr(ng-repeat="item in voteDevices" ng-click="go(item.device)")
            td {{item.pri}}
            td {{item.name}}
            td {{item.device}}
            td(style="width: 45%")
                div.progress
                    div.progress-bar(role="progressbar" aria-valuenow="{{item.donates}}" aria-valuemin="0" aria-valuemax="{{item.price}}" style="width: {{item.donates/item.price*100}}%; color: black;") {{item.donates/item.price*100}}%
            td
                span.fa.fa-chevron-right.pull-right
