div.page-header
    h1 Add new Device
form
    div.form-group
        label(for="name") Name
        input.from-control(type="text")
    div.form-group
        label(for="device") Device
        input.from-control(type="text")
    div.form-group
        label(for="name") test
        input.from-control(type="text")
    div.form-group
        label(for="name") Name
        input.from-control(type="text")