html
  body
    .panel.panel-default
      .panel-heading Core Devices
      .panel-body
        p Core Devices is the Devices that will fully follow the development of Ubports and will get all the new features, critical security-updates and bug-fixes.
      table.table.table-hover
        thead
          tr
            th ID
            th Name
            th Device
            th Comment
            th(style='width: 3%;')
        tr(ng-if='loading', align='center')
          th(colspan='5', style='text-align: center;')
            span.fa.fa-refresh.fa-spin.fa-3x
        tr(ng-if='hasActiveDev', ng-repeat='item in activeDevices', ng-click='go(item.device)')
          td {{item.id}}
          td {{item.name}}
          td {{item.device}}
          td(style='width: 45%; max-width: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;')
            | {{item.comment}}
          td
            span.fa.fa-chevron-right.pull-right
        tr(ng-if='!hasActiveDev && !loading', align='center')
          th(colspan='5', style='text-align: center;') Sorry, there is no &quot;Active&quot; devices yet!
    br
    .panel.panel-default
      .panel-heading Legacy Devices
      .panel-body
        p Legacy Devices is devices that most likely only will get critical security-updates and bug-fixes. New features might appear from time to time.
      table.table.table-hover
        thead
          tr
            th ID
            th Name
            th Device
            th Comment
            th(style='width: 3%;')
        tr(ng-if='loading', align='center')
          th(colspan='5', style='text-align: center;')
            span.fa.fa-refresh.fa-spin.fa-3x
        tr(ng-repeat='item in progressDevices', ng-click='go(item.device)')
          td {{item.id}}
          td {{item.name}}
          td {{item.device}}
          td(style='width: 45%; max-width: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;')
            | {{item.comment}}
          td
            span.fa.fa-chevron-right.pull-right
    br
    .panel.panel-default
      .panel-heading Development Devices
      .panel-body
        p Development devices are devices that development haven't yet started yet but it's planed or development just started. You cannot install these devices from our server yet.
      table.table.table-hover
        thead
          tr
            th ID
            th Name
            th Device
            th Comment
            th(style='width: 3%;')
        tr(ng-if='loading', align='center')
          th(colspan='5', style='text-align: center;')
            span.fa.fa-refresh.fa-spin.fa-3x
        tr(ng-repeat='item in voteDevices', ng-click='goWiki(item.wiki)')
          td {{item.id}}
          td {{item.name}}
          td {{item.device}}
          td(style='width: 45%; max-width: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;')
            | {{item.comment}}
          td
            span.fa.fa-chevron-right.pull-right(ng-if="item.wiki")
