html
  body
    .panel.panel-default
      .panel-heading Core Devices
      .panel-body
        p Core Devices are the Devices that will recieve all the new features, critical security-updates and bug-fixes from UBports. These devices will soon be rebased on Ubuntu 16.04 LTS. Until then, the existing legacy image (based on 15.04) can be installed.
      table.table.table-hover
        thead
          tr
            th ID
            th Name
            th Device
            th Comment
            th(style='width: 3%;')
        tr(ng-if='loading', align='center')
          th(colspan='5', style='text-align: center;')
            span.fa.fa-refresh.fa-spin.fa-3x
        tr(ng-if='hasActiveDev', ng-repeat='item in activeDevices', ng-click='go(item.device)')
          td {{item.id}}
          td {{item.name}}
          td {{item.device}}
          td(style='width: 45%; max-width: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;')
            | {{item.comment}}
          td
            span.fa.fa-chevron-right.pull-right
        tr(ng-if='!hasActiveDev && !loading', align='center')
          th(colspan='5', style='text-align: center;') Sorry, there is no &quot;Active&quot; devices yet!
    br
    .panel.panel-default
      .panel-heading Legacy Devices
      .panel-body
        p Legacy Devices are devices that will only get critical security-updates and bug-fixes. New features might appear from time to time, but the focus is on the core devices listed above. Pull-requests from the community are accepted and will be merged into the images.
      table.table.table-hover
        thead
          tr
            th ID
            th Name
            th Device
            th Comment
            th(style='width: 3%;')
        tr(ng-if='loading', align='center')
          th(colspan='5', style='text-align: center;')
            span.fa.fa-refresh.fa-spin.fa-3x
        tr(ng-repeat='item in progressDevices', ng-click='go(item.device)')
          td {{item.id}}
          td {{item.name}}
          td {{item.device}}
          td(style='width: 45%; max-width: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;')
            | {{item.comment}}
          td
            span.fa.fa-chevron-right.pull-right
    br
    .panel.panel-default
      .panel-heading Development Devices
      .panel-body
        p Devices listed here are in discussion for development or are in a very early stage. You cannot install Ubuntu Touch on these devices yet and there is no guarantee they will ever reach a stable stage.
      table.table.table-hover
        thead
          tr
            th ID
            th Name
            th Device
            th Comment
            th(style='width: 3%;')
        tr(ng-if='loading', align='center')
          th(colspan='5', style='text-align: center;')
            span.fa.fa-refresh.fa-spin.fa-3x
        tr(ng-repeat='item in voteDevices', ng-click='goWiki(item.wiki)')
          td {{item.id}}
          td {{item.name}}
          td {{item.device}}
          td(style='width: 45%; max-width: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;')
            | {{item.comment}}
          td
            span.fa.fa-chevron-right.pull-right(ng-if="item.wiki")
